<div> 
    <!-- <head>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <head>
    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
      </head> -->
      

    <!-- PAGE CONTENT
    ============================================= -->	
    <div id="page" class="page font--jakarta">



        <!-- ABOUT-2
        ============================================= -->
        <section id="about-2" class="rel inner-page-hero about-section division">
            <!-- ABOUT-2 TITLE -->
            <div class="container">
                <div class="row">
                    <div >
                        <div >

                            <!-- Title -->
                            <h1 style="font-size: 6vw; font-weight: 900; text-align: center; letter-spacing: 2px; margin-top: 10px;">
                                <strong>Harshon Technologies</strong>
                              </h1>

                              <div style="text-align: center; margin-top: 30px; padding: 0 10px;">
                                <iframe 
                                  width="100%" 
                                  height="562" 
                                  style="max-width: 1000px;" 
                                  src="https://www.youtube.com/embed/W_0OE180KZ0?si=TG4S0_j59NpXa_iS" 
                                  title="Harshon Technologies Video" 
                                  frameborder="0" 
                                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                                  allowfullscreen>
                                </iframe>
                              </div>
                              
                              

                            <!-- Text -->	
                          
    <p class="full-width-paragraph">
        At Harshon Technologies, we are a forward-thinking software development company dedicated to delivering innovative, scalable, and robust solutions that help businesses unlock their true potential in the digital era. With deep expertise in Full-Stack .NET Core, Angular, DevOps, Cloud, Agile methodologies, and Infrastructure Management, we offer end-to-end services tailored to meet the diverse needs of our clients.
    </p>

                        </div>
                    </div>
                </div>
            </div>	  <!-- END ABOUT-2 TITLE -->	


            <!-- ABOUT-2 IMAGES -->
            <div class="container-fluid">
                <div class="row">


                    <!-- IMAGES-1 -->
                    <div class="col-md-5" >
                        <div class="text-end">


                            <!-- IMAGE-1 -->
                            <div class="about-2-img a-2-1 r-12">
                                <img class="img-fluid" src="../../assets/images/aboutimage-3.jpg" alt="about-image">
                            </div>
                            <div class="about-2-img a-2-1 r-12">
                                <img class="img-fluid" src="../../assets/images/aboutimage-1.jpg" alt="about-image">
                            </div>
                
                            <!-- IMAGE-2 -->
                            <!-- <div class="about-2-img a-2-2 r-12">
                                <img class="img-fluid" src="../../assets/images/a2-2.jpg" alt="about-image">
                            </div> -->


                        </div>
                    </div>	<!-- END IMAGES-1 -->


                    <!-- IMAGES-2 -->
                    <div class="col-md-7">


                        <!-- IMAGE-3 -->
                        <!-- <div class="about-2-img a-2-3 r-12">
                            <img class="img-fluid" src="../../assets/images/a2-3.jpg" alt="about-image">
                        </div> -->


                        <div class="row">

                            <!-- TEXT -->
                            <!-- <div class="col-md-7 col-lg-6">
                                <div class="col-md-5 col-lg-6">
                                    <div class="about-2-img a-2-4 r-12">
                                        <img class="img-fluid" src="../../assets/images/aboutimage-2.jpg" alt="about-image">
                                    </div>
                                </div>
                            </div> -->

                            <!-- IMAGE-4 -->
                            <div class="col-md-5 col-lg-6" style="  width: 950px; margin-top: 50px;" >
                                <div class="about-2-img a-2-4 r-12">
                                    <img class="img-fluid"  src="../../assets/images/aboutimage-2.jpg" alt="about-image">
                                </div>
                            </div>
                            

                        </div>	 <!-- End row -->	


                    </div>	<!-- END IMAGES-2 -->


                </div>	 <!-- End row -->	
            </div>	  <!-- END ABOUT-2 IMAGES -->


        </section>	<!-- END ABOUT-2 -->




        <!-- ABOUT-3
        ============================================= -->
        <div id="about-3" class="pt-100 about-section division" >
            <div class="container">
                <div class="row">	


                    <!-- ABOUT-3 TEXT -->
                    <div class="col-md-6">
                        <div id="a3-1" class="txt-block">	

                            <!-- Title -->
                            <h5 class="s-24 w-700 mb-20"></h5>

                            <!-- Text -->	
                            <p style="font-size: 18px;">We leverage innovation and expertise to drive business success and accelerate growth.


                            </p>

                            <!-- List -->	
                            <ul class="simple-list">

                                <li class="list-item">
                                    <p style="font-size: 18px;">Organizations turn to Harshon Technologies for forward-thinking guidance, seamless implementation, and continuous support to reach every milestone on their journey to realizing their vision.

                                    </p>
                                </li>

                                <li class="list-item">
                                    <p style="font-size: 18px;">Our services are not a random collection of expertise. We have strategically designed our practice areas to deliver interconnected value, enabling businesses to overcome obstacles hindering their growth and financial stability. Many of our clients utilize the full spectrum of our services to create a value-driven supply chain that enhances not only IT but all areas of the business—including customer experience.

                                    </p>
                                </li>

                            </ul>
                                
                        </div>	
                    </div>	<!-- END ABOUT-3 TEXT -->


                    <!-- ABOUT-3 TEXT -->
                    <div class="col-md-6">
                        <div id="a3-2" class="txt-block">	

                            <!-- Title -->
                            <h5 class="s-24 w-700 mb-20"></h5>

                            <!-- Text -->	
                            <p style="font-size: 18px;">At our core, we are dedicated to inspiring innovative ways in which technology can transform our people, clients, partners, and communities.

                            </p>

                            <!-- Text -->	
                            <p style="font-size: 18px;">We prioritize listening attentively, understanding thoroughly, and delivering strategic solutions that drive maximum value
                            </p>
                                
                        </div>	
                    </div>	<!-- END ABOUT-3 TEXT -->


                </div>    <!-- End row -->	
            </div>	   <!-- End container -->	
        </div>	<!-- END ABOUT-3 -->




        <!-- STATISTIC-5
        ============================================= -->
        <div id="statistic-5" class="py-100 statistic-section division">
            <div class="container">


                <!-- STATISTIC-1 WRAPPER -->
                <div class="statistic-5-wrapper">
                    <div class="row row-cols-1 row-cols-md-3">


                        <!-- STATISTIC BLOCK #1 -->
                       
                       	<!-- END STATISTIC BLOCK #1 -->

                      


                        <!-- STATISTIC BLOCK #3 -->
                        <div class="col">						
                            <div id="sb-5-3" class="wow fadeInUp">
                                <div class="statistic-block">	

                                    <!-- Digit -->
                                    <div class="statistic-digit">
                                        <h2 class="s-44 w-700">
                                            <span class="count-element">4</span>.<span class="count-element">87</span>/5
                                        </h2>
                                    </div>

                                    <!-- Text -->
                                    <div class="statistic-txt">
                                        <h5 class="s-19 w-700">Rating</h5>	
                                        <p>Porta justo integer and velna vitae auctor and magna quaerat ligula</p>
                                    </div>

                                </div>
                            </div>						
                        </div>	<!-- END STATISTIC BLOCK #3 -->


                    </div>  <!-- End row -->
                </div>	<!-- END STATISTIC-5 WRAPPER -->


            </div>	 <!-- End container -->		
        </div>	 <!-- END STATISTIC-5 -->	

        <!-- BANNER-1
        ============================================= -->
      








        <!-- FOOTER-3
        ============================================= -->
        <footer id="footer-3" class="pt-100 footer">
            <div class="container">
    
    
                <!-- FOOTER CONTENT -->
                <div class="row">
    
    
                    <!-- FOOTER LOGO -->
                    <div class="col-xl-3">
                        <div class="footer-info">
                            <img class="footer-logo" src="../../assets/images/logo-blue.png" alt="footer-logo">
                        </div>	
                    </div>	
    
    
                    <!-- FOOTER LINKS -->
                    <div class="col-sm-4 col-md-3 col-xl-2">
                        <div class="footer-links fl-1">
                        
                            <!-- Title -->
                            <h6 class="s-17 w-700" style="font-size: 20px;">Company</h6>
    
                            <!-- Links -->
                            <ul class="foo-links clearfix">
                                <!-- <li><p><a  [routerLink]="['about']">About Us</a></p></li>
                                <li><p><a href="careers.html">Offices</a></p></li>	
                                <li><p><a href="blog-listing.html">Leadership</a></p></li>							
                                <li><p><a href="contacts.html">Careers</a></p></li>			 -->
                            
                            <li aria-haspopup="true"><p><a  [routerLink]="['/about']" routerLinkActive="active">About Us</a></p></li>	
                            <!-- <li aria-haspopup="true"><a [routerLink]="'customer'">Customers</a></li> -->
                            <li aria-haspopup="true"><p><a [routerLink]="['/office']" routerLinkActive="active">Offices</a></p></li>
                            <li aria-haspopup="true"><p><a [routerLink]="['/leadership']" routerLinkActive="active">Leadership</a></p></li>
                            <li aria-haspopup="true"><p><a [routerLink]="['/carrer']" routerLinkActive="active">Careers</a></p></li>
                        </ul>
                        </div>
                    </div>	<!-- END FOOTER LINKS -->	
    
    
                    
    
    
                    <!-- FOOTER LINKS -->
                    <div class="col-sm-4 col-md-3 col-xl-2">
                        <div class="footer-links fl-3">
                                            
                            <!-- Title -->
                            <h6 class="s-17 w-700" style="font-size: 20px;">Legal</h6>
    
                            <!-- Links -->
                            <ul class="foo-links clearfix">
                                <li><p><a href="terms.html">Terms of Use</a></p></li>										
                                <li><p><a href="privacy.html">Privacy Policy</a></p></li>
                                <li><p><a href="cookies.html">Cookie Policy</a></p></li>
                                <li><p><a href="#">Site Map</a></p></li>
                            </ul>
                                   
                        </div>	
                    </div>	<!-- END FOOTER LINKS -->	
    
    
                    <!-- FOOTER LINKS -->
                    <div class="col-sm-6 col-md-3">
                        <div class="footer-links fl-4">
                                            
                            <!-- Title -->
                            <h6 class="s-17 w-700" style="font-size: 20px;">Connect With Us</h6>
    
                            <!-- Mail Link -->
                            <p class="footer-mail-link ico-25">
                                <a href="mailto:Hr&#64;harshontechnologies.com">Hr&#64;harshontechnologies.com</a>

                            </p>
    
                            <!-- Social Links -->	
                            <ul class="footer-socials ico-25 text-center clearfix">		
                                <li><a href="https://www.youtube.com/@Harshontechnologies" style="color: red;"><span class="flaticon-youtube"></span></a></li>
    
                                <li ><a href="#" style="color:black;font-size: 22px;"><span class="fa-brands fa-x-twitter "></span></a></li>
                                <li><a href="#" style="color:#181717;" ><span class="flaticon-github"></span></a></li>
                                <!-- <head>
                                 
                                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
                                  </head> -->
                                  <li style="font-size: 25px;"><a href="#" style="color: #0077B5;"><span class="fab fa-linkedin"></span></a></li>
    
                            </ul>
    
                        </div>	
                    </div>	<!-- END FOOTER LINKS -->	
    
    
                </div>	<!-- END FOOTER CONTENT -->
    
    
                <hr>	<!-- FOOTER DIVIDER LINE -->
    
    
                <!-- BOTTOM FOOTER -->
                <div class="bottom-footer">
                    <div class="row row-cols-1 row-cols-md-2 d-flex align-items-center">
    
    
                        <!-- FOOTER COPYRIGHT -->
                        <div class="col">
                            <div class="footer-copyright"><p class="p-sm">&copy; 2024 Harshon Technologies. <span>All Rights Reserved</span></p></div>
                        </div>
    
    
                        <!-- FOOTER SECONDARY LINK -->
                        <div class="col">
                            <div class="bottom-secondary-link ico-15 text-end">
                                <p class="p-sm"><a href="#">Made with 
                                    <span class="flaticon-heart color--pink-400"></span> by Harshon Technologies</a>
                                </p>
                            </div>
                        </div>
    
    
                    </div>  <!-- End row -->
                </div>	<!-- END BOTTOM FOOTER -->
    
    
            </div>     <!-- End container -->	
        </footer>   <!-- END FOOTER-3 -->




    </div>	<!-- END PAGE CONTENT -->	




  


</div>
