<div> 





   







    <!-- PAGE CONTENT
    ============================================= -->	
    <div id="page" class="page font--jakarta">




        





        <!-- TEAM-2
        ============================================= -->
        <section id="team-2" class="gr--whitesmoke pb-40 inner-page-hero team-section">
            <div class="container">



                <!-- SECTION TITLE -->	
                <div class="row justify-content-center">	
                    <div class="col-md-10 col-lg-9">
                        <div class="section-title mb-70">	

                            <!-- Title -->	
                            <h2 class="s-52 w-700" style="font-size: 40px;">Meet Our Leadership Team</h2>	

                            <!-- Text -->	
                            <p class="s-21">At Harshon Technologies, our leadership team is composed of industry experts dedicated to fostering innovation and excellence. Each member brings a wealth of experience and a unique perspective, ensuring we deliver the best solutions to our clients. Get to know the brilliant minds behind our success.</p>
                                
                        </div>	
                    </div>
                </div>

                <!-- TEAM MEMBERS WRAPPER -->	
                <div class="team-members-wrapper">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">


                        <!-- TEAM MEMBER #1 -->
                        <div class="col">
                            <div id="tm-2-1" class="team-member mb-60 wow fadeInUp">
                                                        
                                <!-- Team Member Photo -->
                                <div class="team-member-photo">
                                    <div class="hover-overlay" style="width: 250px; height: 250px; overflow: hidden; border-radius: 50%;">
                                        <img class="img-fluid" src="../../assets/images/team-4.jpg" alt="team-member-foto"
                                             style="width: 100%; height: 100%; object-fit: cover; object-position: center 60%;">
                                        <div class="item-overlay"></div>
                                    </div>
                                </div>
                                
                                                                                                                                                
                                <!-- Team Member Data -->		
                                <div class="team-member-data">	

                                    <!-- Data -->
                                    <h6 class="s-20 color--black w-700" style="color: rgb(49, 48, 48); font-size: 25px; font-family:'Times New Roman', serif;"><strong>Konda SudhaRani</strong></h6>
                                    <p class="color--grey" style="color: rgb(66, 64, 64);"><strong>Founder & CEO </strong></p>

                                 

                                </div>	
                            
                            </div>									
                        </div>	<!-- END TEAM MEMBER #1 -->
                        <div class="col">
                            <div id="tm-2-2" class="team-member mb-60 wow fadeInUp">
                            
                                <!-- Team Member Photo -->
                                <div class="team-member-photo">
                                    <div class="hover-overlay" style="width: 250px; height: 250px; overflow: hidden; border-radius: 50%;">
                                        <img class="img-fluid" src="../../assets/images/somu3.jpg" alt="team-member-foto" style="position: absolute; top: -10%; left: 0; width: 100%; height: auto;">
                                        <div class="item-overlay"></div>
                                    </div>
                                </div>
                                
                                            
                                <!-- Team Member Data -->		
                                <div class="team-member-data">	

                                    <!-- Data -->													
                                    <h6 class="s-20 color--black w-700" style="color: rgb(49, 48, 48); font-size: 23px; font-family:'Times New Roman', serif;">
                                        <strong>ReddyPatil Somasekhar Gowd</strong>
                                      </h6>
                                      
                                    <p class="color--grey" style="color: rgb(66, 64, 64);"><strong>IT Consultant</strong></p>

                                    <!-- Social Links -->
                                   

                                </div>	

                            </div>											
                        </div>	<!-- END TEAM MEMBER #2 -->
                        
                        <div class="col">
                            <div id="tm-2-4" class="team-member mb-60 wow fadeInUp">

                                <!-- Team Member Photo -->
                                <div class="team-member-photo">
                                    <div class="hover-overlay" style="width: 250px; height: 250px; overflow: hidden; border-radius: 50%;">
                                        <img class="img-fluid" src="../../assets/images/team-41.jpg" alt="team-member-foto" style="width: 100%; height: 100%; object-fit: cover;">
                                        <div class="item-overlay"></div>
                                    </div>
                                </div>
                                
                                
                                                                        
                                <!-- Team Member Data -->		
                                <div class="team-member-data">	

                                    <!-- Data -->
                                    <h6 class="s-20 color--black w-700" style="color: rgb(49, 48, 48); font-size: 23px; font-family: 'Times New Roman', serif;"><strong>
                                        Naga Padmapriya Thupurani
                                    </strong></h6>
                                    <p class="color--grey" style="color: rgb(66, 64, 64);"><strong>Training Head</strong></p>

                               

                                </div>	

                            </div>
                        </div>	<!-- END TEAM MEMBER #4 -->
                        <!-- TEAM MEMBER #2 -->
                        
                        
                        
                        <!-- TEAM MEMBER #3 -->
   
                                            
                        
                        <!-- TEAM MEMBER #4 -->
                     


                        <!-- TEAM MEMBER #5 -->
                     
                        
                        

                        
                        

                                            
                        
                        <!-- TEAM MEMBER #8 -->
  


                        
                        
       
                        
                        
                  
                                            
                        
  


                    </div>   <!-- End row -->
                </div>	<!-- TEAM MEMBERS WRAPPER -->	   


            </div>	    <!-- End container -->
        </section>	<!-- END TEAM-2 -->




        


        <!-- DIVIDER LINE -->
        <hr class="divider">







        <!-- FOOTER-3
        ============================================= -->
        <footer id="footer-3" class="pt-100 footer">
            <div class="container">
    
    
                <!-- FOOTER CONTENT -->
                <div class="row">
    
    
                    <!-- FOOTER LOGO -->
                    <div class="col-xl-3">
                        <div class="footer-info">
                            <img class="footer-logo" src="../../assets/images/logo-blue.png" alt="footer-logo">
                        </div>	
                    </div>	
    
    
                    <!-- FOOTER LINKS -->
                    <div class="col-sm-4 col-md-3 col-xl-2">
                        <div class="footer-links fl-1">
                        
                            <!-- Title -->
                            <h6 class="s-17 w-700" style="font-size: 20px;">Company</h6>
    
                            <!-- Links -->
                            <ul class="foo-links clearfix">
                                <!-- <li><p><a  [routerLink]="['about']">About Us</a></p></li>
                                <li><p><a href="careers.html">Offices</a></p></li>	
                                <li><p><a href="blog-listing.html">Leadership</a></p></li>							
                                <li><p><a href="contacts.html">Careers</a></p></li>			 -->
                            
                            <li aria-haspopup="true"><p><a  [routerLink]="['/about']" routerLinkActive="active">About Us</a></p></li>	
                            <!-- <li aria-haspopup="true"><a [routerLink]="'customer'">Customers</a></li> -->
                            <li aria-haspopup="true"><p><a [routerLink]="['/office']" routerLinkActive="active">Offices</a></p></li>
                            <li aria-haspopup="true"><p><a [routerLink]="['/leadership']" routerLinkActive="active">Leadership</a></p></li>
                            <li aria-haspopup="true"><p><a [routerLink]="['/carrer']" routerLinkActive="active">Careers</a></p></li>
                        </ul>
                        </div>
                    </div>	<!-- END FOOTER LINKS -->	
    
    
                    
    
    
                    <!-- FOOTER LINKS -->
                    <div class="col-sm-4 col-md-3 col-xl-2">
                        <div class="footer-links fl-3">
                                            
                            <!-- Title -->
                            <h6 class="s-17 w-700" style="font-size: 20px;">Legal</h6>
    
                            <!-- Links -->
                            <ul class="foo-links clearfix">
                                <li><p><a href="terms.html">Terms of Use</a></p></li>										
                                <li><p><a href="privacy.html">Privacy Policy</a></p></li>
                                <li><p><a href="cookies.html">Cookie Policy</a></p></li>
                                <li><p><a href="#">Site Map</a></p></li>
                            </ul>
                                   
                        </div>	
                    </div>	<!-- END FOOTER LINKS -->	
    
    
                    <!-- FOOTER LINKS -->
                    <div class="col-sm-6 col-md-3">
                        <div class="footer-links fl-4">
                                            
                            <!-- Title -->
                            <h6 class="s-17 w-700" style="font-size: 20px;">Connect With Us</h6>
    
                            <!-- Mail Link -->
                            <p class="footer-mail-link ico-25">
                                <a href="mailto:Hr&#64;harshontechnologies.com">Hr&#64;harshontechnologies.com</a>

                            </p>
    
                            <!-- Social Links -->	
                            <ul class="footer-socials ico-25 text-center clearfix">		
                                <li><a href="https://www.youtube.com/@Harshontechnologies" style="color: red;"><span class="flaticon-youtube"></span></a></li>
    
                                <li ><a href="#" style="color:black;font-size: 22px;"><span class="fa-brands fa-x-twitter "></span></a></li>
                                <li><a href="#" style="color:#181717;" ><span class="flaticon-github"></span></a></li>
                                <!-- <head>
                                 
                                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
                                  </head> -->
                                  <li style="font-size: 25px;"><a href="#" style="color: #0077B5;"><span class="fab fa-linkedin"></span></a></li>
    
                            </ul>
    
                        </div>	
                    </div>	<!-- END FOOTER LINKS -->	
    
    
                </div>	<!-- END FOOTER CONTENT -->
    
    
                <hr>	<!-- FOOTER DIVIDER LINE -->
    
    
                <!-- BOTTOM FOOTER -->
                <div class="bottom-footer">
                    <div class="row row-cols-1 row-cols-md-2 d-flex align-items-center">
    
    
                        <!-- FOOTER COPYRIGHT -->
                        <div class="col">
                            <div class="footer-copyright"><p class="p-sm">&copy; 2024 Harshon Technologies. <span>All Rights Reserved</span></p></div>
                        </div>
    
    
                        <!-- FOOTER SECONDARY LINK -->
                        <div class="col">
                            <div class="bottom-secondary-link ico-15 text-end">
                                <p class="p-sm"><a href="#">Made with 
                                    <span class="flaticon-heart color--pink-400"></span> by Harshon Technologies</a>
                                </p>
                            </div>
                        </div>
    
    
                    </div>  <!-- End row -->
                </div>	<!-- END BOTTOM FOOTER -->
    
    
            </div>     <!-- End container -->	
        </footer>   <!-- END FOOTER-3 -->


    </div>	<!-- END PAGE CONTENT -->	




    <!-- EXTERNAL SCRIPTS
    ============================================= -->	
    <script src="../../js/jquery-3.7.0.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>	
    <script src="../../js/modernizr.custom.js"></script>
    <script src="../../js/jquery.easing.js"></script>
    <script src="../../js/jquery.appear.js"></script>
    <script src="../../js/menu.js"></script>
    <script src="../../js/owl.carousel.min.js"></script>
    <script src="../../js/pricing-toggle.js"></script>
    <script src="../../js/jquery.magnific-popup.min.js"></script>
    <script src="../../js/request-form.js"></script>	
    <script src="../../js/jquery.validate.min.js"></script>
    <script src="../../js/jquery.ajaxchimp.min.js"></script>	
    <script src="../../js/popper.min.js"></script>
    <script src="../../js/lunar.js"></script>
    <script src="../../js/wow.js"></script>
            
    <!-- Custom Script -->		
    <script src="../../js/custom.js"></script>


    <!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->															
    <!--
    <script>
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-XXXXX-X']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    -->	


</div>




