<div> 




    



    <!-- PAGE CONTENT
    ============================================= -->	
    <div id="page" class="page font--jakarta">









        <!-- PRIVACY PAGE
        ============================================= -->
        <section id="privacy-page" class="gr--whitesmoke pb-80 inner-page-hero division">
            <div class="container">
                <div class="row justify-content-center">	
                    <div class="col-xl-10">


                        <!-- INNER PAGE TITLE -->
                        <div class="inner-page-title">
                            <h2 class="s-52 w-700">Privacy Policy</h2>
                            <p class="p-lg">This policy is effective as of 11th April 2024</p>
                        </div>


                        <!-- TEXT BLOCK -->	
                        <div class="txt-block legal-info">

                            <!-- Title -->
                            <h4 class="s-30 w-700"><span>1.</span> Introduction</h4>

                            <!-- Text -->
                            <p>Sagittis congue augue egestas integer velna purus purus magna nec suscipit and egestas 
                               magna aliquam ipsum vitae purus justo lacus ligula ipsum primis cubilia donec undo augue 
                               luctus vitae egestas a molestie donec libero sapien dapibus congue tempor undo quisque 
                               fusce cursus neque blandit fusce lacinia placerat and nulla justo molestie blandit justo 
                               diam aliquet tortor molestie sagittis lacinia undo and mullam molestie diam luctus donec 
                               bibendum aliquet massa elementum. Libero quisque lacus and ligula massa lorem.
                            </p>

                            <!-- Text -->
                            <p>Sagittis congue augue egestas integer velna purus purus magna nec suscipit and egestas 
                               magna aliquam ipsum vitae purus justo lacus ligula ipsum primis cubilia donec undo augue 
                               luctus vitae egestas a molestie donec libero sapien dapibus congue tempor undo quisque 
                               fusce cursus neque blandit fusce an aliquam nulla lacinia justo molestie blandit justo 
                               diam aliquet tortor molestie non sagittis lacinia
                            </p>

                            <!-- Title -->
                            <h4 class="s-30 w-700"><span>2.</span> Personal Information We Collect</h4>

                            <!-- Small Title -->
                            <h5 class="s-24 w-700"><span>2.1.</span> Information you provide to us</h5>

                            <!-- Text -->
                            <p>Congue augue sagittis egestas integer velna purus purus magna nec suscipit and egestas 
                               magna aliquam ipsum vitae purus justo lacus ligula ipsum primis cubilia donec undo augue 
                               luctus vitae egestas a molestie donec libero sapien dapibus congue tempor undo quisque 
                               fusce cursus neque blandit fusce lorem nulla an aliquam acinia justo molestie blandit 
                               justo diam an aliquet tortor sagittis lacinia molestie diam egestas
                            </p>

                            <!-- List -->	
                            <ul class="simple-list">

                                <li class="list-item">
                                    <p>Quaerat sodales sapien undo velna purus euismod purus velna blandit vitae auctor 
                                       and congue magna tempor sapien gravida laoreet turpis urna augue, viverra a augue 
                                       eget dictum tempor
                                    </p>
                                </li>

                                <li class="list-item">
                                    <p>Nemo ipsam egestas volute turpis dolores ut aliquam quaerat sodales sapien congue 
                                       and augue egestas
                                    </p>
                                </li>

                                <li class="list-item">
                                    <p>Nemo ipsam egestas volute turpis dolores ut aliquam quaerat sodales sapien congue 
                                       augue egestas sagittis massa lorem fusce cursus fusce nulla vitae massa placerat 
                                       vulputate purus
                                    </p>
                                </li>

                                <li class="list-item">
                                    <p>Sapien sodales quaerat undo velna purus euismod purus velna blandit vitae auctor 
                                       and congue magna tempor sapien gravida laoreet turpis urna augue, viverra a augue 
                                       eget dictum pulvinar
                                    </p>
                                </li>

                            </ul>

                            <!-- Small Title -->
                            <h5 class="s-24 w-700"><span>2.2.</span> Automatic data collection</h5>

                            <!-- Text -->
                            <p>Congue sagittis augue egestas integer velna purus purus magna nec suscipit and egestas 
                               magna aliquam ipsum vitae purus justo lacus ligula ipsum primis cubilia donec undo augue 
                               luctus vitae egestas a molestie donec libero sapien dapibus congue tempor undo quisque 
                               fusce cursus neque blandit fusce aliquam 
                            </p>

                            <!-- Text -->
                            <p>Sagittis congue augue egestas integer velna purus purus magna nec suscipit and egestas 
                               magna aliquam ipsum vitae purus justo lacus ligula ipsum primis cubilia donec undo augue 
                               luctus vitae egestas a molestie donec libero sapien dapibus congue tempor undo quisque 
                               fusce cursus neque blandit fusce an aliquam nulla lacinia justo molestie blandit justo 
                               diam aliquet tortor molestie non sagittis lacinia
                            </p>

                            <!-- Small Title -->
                            <h5 class="s-24 w-700"><span>2.3.</span> User comments and content</h5>

                            <!-- Text -->
                            <p>Integer congue sagittis augue egestas  velna purus purus magna nec suscipit and egestas 
                               magna aliquam ipsum vitae purus justo lacus ligula ipsum primis cubilia donec undo augue 
                               luctus vitae egestas a molestie donec libero sapien dapibus congue tempor undo quisque 
                               fusce cursus neque diam augue fusce sapien nulla a primis lacinia ipsum a molestie blandit 
                               and justo an aliquet eget molestie sagittis at quaerat sodales
                            </p>

                            <!-- List -->	
                            <ul class="simple-list">

                                <li class="list-item">
                                    <p>Quaerat sodales sapien undo velna purus euismod purus velna blandit vitae auctor 
                                       and congue magna tempor sapien gravida laoreet turpis urna augue, viverra a augue 
                                       eget dictum tempor
                                    </p>
                                </li>

                                <li class="list-item">
                                    <p>Nemo ipsam egestas volute turpis dolores ut aliquam quaerat sodales sapien congue 
                                       and augue egestas
                                    </p>
                                </li>

                            </ul>

                            <!-- Small Title -->
                            <h5 class="s-24 w-700"><span>2.4.</span> Information from other sources</h5>

                            <!-- Text -->
                            <p>Sagittis congue augue egestas integer velna purus purus magna nec suscipit and egestas 
                               magna aliquam ipsum vitae purus justo lacus ligula ipsum primis cubilia donec undo augue 
                               luctus vitae egestas a molestie donec libero sapien dapibus congue tempor undo quisque 
                               fusce cursus neque blandit fusce lacinia placerat and nulla justo molestie blandit justo 
                               diam aliquet tortor molestie sagittis lacinia undo and mullam molestie diam luctus donec 
                               bibendum aliquet massa elementum. Libero quisque lacus and ligula massa lorem.
                            </p>

                            <!-- Title -->
                            <h4 class="s-30 w-700"><span>3.</span> Types of Information</h4>	

                            <!-- Text -->
                            <p>Integer congue sagittis augue egestas  velna purus purus magna nec suscipit and egestas 
                               magna aliquam ipsum vitae purus justo lacus ligula ipsum primis cubilia donec undo augue 
                               luctus vitae egestas a molestie donec libero sapien dapibus congue tempor undo quisque 
                               fusce cursus neque diam augue fusce sapien nulla a primis lacinia ipsum a molestie blandit 
                               and justo an aliquet eget molestie sagittis at quaerat sodales
                            </p>

                            <!-- Text -->
                            <p>Aliqum mullam tincidunt a sapien gravida and diam donec porta.</p>

                            <!-- Text -->
                            <p>Sagittis congue augue egestas integer velna purus purus magna nec suscipit and egestas 
                               magna aliquam ipsum vitae purus justo lacus ligula ipsum primis cubilia donec undo augue 
                               luctus vitae egestas a molestie donec libero sapien dapibus congue tempor undo quisque 
                               fusce cursus neque blandit fusce lacinia placerat and nulla justo molestie blandit justo 
                               diam aliquet tortor molestie sagittis lacinia undo and mullam molestie diam luctus donec 
                               bibendum aliquet massa elementum. Libero quisque lacus and ligula massa lorem.
                            </p>

                            <!-- Title -->
                            <h4 class="s-30 w-700"><span>4.</span> How We Use Personal Information</h4>

                            <!-- Text -->
                            <p>Congue augue sagittis egestas integer velna purus purus magna nec suscipit and egestas 
                               magna aliquam ipsum vitae purus justo lacus ligula ipsum primis cubilia donec undo augue 
                               luctus vitae egestas a molestie donec libero sapien dapibus congue tempor undo quisque 
                               fusce cursus neque blandit fusce lorem nulla an aliquam lacinia justo molestie blandit 
                               justo diam an aliquet tortor sagittis lacinia molestie diam egestas
                            </p>

                            <!-- Text -->
                            <p>Sagittis augue congue egestas integer velna purus purus magna nec suscipit and egestas 
                               magna aliquam ipsum vitae purus justo lacus ligula ipsum primis cubilia donec undo augue 
                               luctus vitae egestas a molestie donec libero sapien dapibus congue tempor undo quisque 
                               fusce cursus neque aliquam fusce blandit
                            </p>

                            <!-- Small Title -->
                            <h5 class="s-24 w-700"><span>4.1.</span> In mails and contact forms</h5>

                            <!-- Text -->
                            <p>Integer congue sagittis augue egestas  velna purus purus magna nec suscipit and egestas 
                               magna aliquam ipsum vitae purus justo lacus ligula ipsum primis cubilia donec undo augue 
                               luctus vitae egestas a molestie donec libero sapien dapibus congue tempor undo quisque 
                               fusce cursus neque diam augue fusce sapien 
                            </p>

                            <!-- Title -->
                            <h4 class="s-30 w-700"><span>5.</span> Price and Taxes</h4>

                            <!-- List -->	
                            <ul class="simple-list">

                                <li class="list-item">
                                    <p>Quaerat sodales sapien undo velna purus euismod purus velna blandit vitae auctor 
                                       and congue magna tempor sapien gravida laoreet turpis urna augue, viverra a augue 
                                       eget tempor pulvinar
                                    </p>
                                </li>

                                <li class="list-item">
                                    <p>Nemo ipsam egestas volute turpis dolores ut aliquam quaerat sodales sapien congue 
                                       and augue egestas
                                    </p>
                                </li>

                            </ul>

                            <!-- Text -->
                            <p>Augue congue sagittis egestas integer velna purus purus magna nec suscipit and egestas 
                               magna aliquam ipsum vitae purus justo lacus ligula ipsum primis cubilia donec undo augue 
                               luctus vitae egestas a molestie donec libero sapien dapibus congue tempor undo quisque 
                               fusce cursus neque donec and ipsum porta diam lorem sodales an aliquam lacinia justo 
                               sapien congue aliquet and sodales a quaerat tortor lacinia egestas
                            </p>

                            <!-- Small Title -->
                            <h4 class="s-30 w-700"><span>5.</span> Children's Privacy</h4>

                            <!-- Text -->
                            <p>Integer congue sagittis augue egestas  velna purus purus magna nec suscipit and egestas 
                               magna aliquam ipsum vitae purus justo lacus ligula ipsum primis cubilia donec undo augue 
                               luctus vitae egestas a molestie donec libero sapien dapibus congue tempor undo quisque 
                               fusce cursus neque diam augue fusce sapien 
                            </p>

                            <!-- Text -->
                            <p>Sagittis augue congue egestas integer velna purus purus magna nec suscipit and egestas 
                               magna aliquam ipsum vitae purus justo lacus ligula ipsum primis cubilia donec and augue 
                               luctus congue
                            </p>

                            <!-- Title -->
                            <h4 class="s-30 w-700"><span>6.</span> Data Shared with Third Parties</h4>

                            <!-- Text -->
                            <p>Integer congue sagittis augue egestas  velna purus purus magna nec suscipit and egestas 
                               magna aliquam ipsum vitae purus justo lacus ligula ipsum primis cubilia donec undo augue 
                               luctus vitae egestas a molestie donec libero sapien dapibus congue tempor undo quisque 
                               fusce cursus neque diam augue fusce sapien nulla a primis lacinia ipsum a molestie blandit 
                               and justo an aliquet eget molestie sagittis at quaerat sodales
                            </p>

                            <!-- Text -->
                            <p>Aliqum mullam tincidunt a sapien gravida and diam donec porta.</p>

                            <!-- Text -->
                            <p>Sagittis congue augue egestas integer velna purus purus magna nec suscipit and egestas 
                               magna aliquam ipsum vitae purus justo lacus ligula ipsum primis cubilia donec undo augue 
                               luctus vitae egestas a molestie donec libero sapien dapibus congue tempor undo quisque 
                               fusce cursus neque blandit fusce lacinia placerat and nulla justo molestie blandit justo 
                               diam aliquet tortor molestie sagittis lacinia undo and mullam molestie diam luctus donec 
                               bibendum aliquet massa elementum. Libero quisque lacus and ligula massa lorem.
                            </p>

                            <!-- Title -->
                            <h4 class="s-30 w-700"><span>7.</span> Security Measures</h4>

                            <!-- Text -->
                            <p>Sagittis congue augue egestas integer velna purus purus magna nec suscipit and egestas 
                               magna aliquam ipsum vitae purus justo lacus ligula ipsum primis cubilia donec undo augue 
                               luctus vitae egestas a molestie donec libero sapien dapibus congue tempor undo quisque 
                               fusce cursus neque blandit fusce lacinia placerat and nulla justo molestie blandit justo 
                               diam aliquet tortor molestie sagittis lacinia undo and mullam molestie diam luctus donec 
                               bibendum aliquet massa elementum. Libero quisque lacus and ligula massa lorem fusce cursus 
                               fusce nulla vitae massa placerat and mollis, sapien gravida aliquet ipsum ultrices aliquet 
                               lorem diam purus undo vitae aliquam auris dapibus libero fusce blandit.
                            </p>

                            <!-- Title -->
                            <h4 class="s-30 w-700"><span>8.</span> Changes in the Privacy Policy</h4>

                            <!-- Text -->
                            <p>Congue augue sagittis egestas integer velna purus purus magna nec suscipit and egestas 
                               magna aliquam ipsum vitae purus justo lacus ligula ipsum primis cubilia donec undo augue 
                               luctus vitae egestas a molestie donec libero sapien dapibus congue tempor undo quisque 
                               fusce cursus neque blandit fusce lorem nulla an aliquam lacinia justo molestie blandit 
                               justo diam an aliquet tortor sagittis lacinia molestie diam egestas
                            </p>

                            <!-- Text -->
                            <p>Aliqum mullam tincidunt a sapien gravida and diam donec porta.</p>	

                            <!-- Text -->
                            <p>Sagittis augue congue egestas integer velna purus purus magna nec suscipit and egestas 
                               magna aliquam ipsum vitae purus justo lacus ligula ipsum primis cubilia donec undo augue 
                               luctus vitae egestas a molestie donec libero sapien dapibus congue tempor undo quisque 
                               fusce cursus neque aliquam fusce blandit
                            </p>

                            <!-- Title -->
                            <h4 class="s-30 w-700"><span>9.</span> How to Contact Us</h4>	

                            <!-- Text -->  
                            <p>If you have any questions or suggestions about this Terms of Service, do not hesitate to 
                                contact us at <a href="mailto:yourdomain@mail.com" class="color--theme">helloyourdomain.com</a>
                            </p>

                        </div>	<!-- END TEXT BLOCK -->	


                    </div>
                </div>    <!-- End row -->
            </div>     <!-- End container -->
        </section>	<!-- END PRIVACY PAGE -->


        <!-- DIVIDER LINE -->
        <hr class="divider">

        <!-- FOOTER-3
        ============================================= -->
        <footer id="footer-3" class="pt-100 footer">
            <div class="container">


                <!-- FOOTER CONTENT -->
                <div class="row">


                    <!-- FOOTER LOGO -->
                    <div class="col-xl-3">
                        <div class="footer-info">
                            <img class="footer-logo" src="../../assets/images/logo-blue.png" alt="footer-logo">
                        </div>	
                    </div>	


                    <!-- FOOTER LINKS -->
                    <div class="col-sm-4 col-md-3 col-xl-2">
                        <div class="footer-links fl-1">
                        
                            <!-- Title -->
                            <h6 class="s-17 w-700">Company</h6>

                            <!-- Links -->
                            <ul class="foo-links clearfix">
                                <li><p><a href="about.html">About Us</a></p></li>
                                <li><p><a href="careers.html">Offices</a></p></li>	
                                <li><p><a href="blog-listing.html">Leadership</a></p></li>							
                                <li><p><a href="contacts.html">Careers</a></p></li>			
                            </ul>

                        </div>
                    </div>	<!-- END FOOTER LINKS -->	


                    <!-- FOOTER LINKS -->
                    <div class="col-sm-4 col-md-3 col-xl-2">
                        <div class="footer-links fl-2">
                                            
                            <!-- Title -->
                            <h6 class="s-17 w-700">More</h6>

                            <!-- Links -->
                            <ul class="foo-links clearfix">
                                <li><p><a href="features.html">Distribution Management</a></p></li>
                                <li><p><a href="reviews.html">AWS</a></p></li>	
                                <li><p><a href="pricing-1.html">Videos</a></p></li>	
                                <li><p><a href="help-center.html">Request Demo</a></p></li>			
                            </ul>

                        </div>	
                    </div>	<!-- END FOOTER LINKS -->	


                    <!-- FOOTER LINKS -->
                    <div class="col-sm-4 col-md-3 col-xl-2">
                        <div class="footer-links fl-3">
                                            
                            <!-- Title -->
                            <h6 class="s-17 w-700">Legal</h6>

                            <!-- Links -->
                            <ul class="foo-links clearfix">
                                <li><p><a href="terms.html">Terms of Use</a></p></li>										
                                <li><p><a href="privacy.html">Privacy Policy</a></p></li>
                                <li><p><a href="cookies.html">Cookie Policy</a></p></li>
                                <li><p><a href="#">Site Map</a></p></li>
                            </ul>

                        </div>	
                    </div>	<!-- END FOOTER LINKS -->	


                    <!-- FOOTER LINKS -->
                    <div class="col-sm-6 col-md-3">
                        <div class="footer-links fl-4">
                                            
                            <!-- Title -->
                            <h6 class="s-17 w-700">Connect With Us</h6>

                            <!-- Mail Link -->
                            <p class="footer-mail-link ico-25">
                                <a href="mailto:yourdomain@mail.com">helloyourdomain.com</a>
                            </p>

                            <!-- Social Links -->	
                            <ul class="footer-socials ico-25 text-center clearfix">		
                                <li><a href="https://www.youtube.com/@Harshontechnologies" style="color: red;"><span class="flaticon-youtube"></span></a></li>
    
                                <li ><a href="#" style="color:black;font-size: 22px;"><span class="fa-brands fa-x-twitter "></span></a></li>
                                <li><a href="#" style="color:#181717;" ><span class="flaticon-github"></span></a></li>
                                <!-- <head>
                                 
                                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
                                  </head> -->
                                  <li style="font-size: 25px;"><a href="#" style="color: #0077B5;"><span class="fab fa-linkedin"></span></a></li>
    
                            </ul>

                        </div>	
                    </div>	<!-- END FOOTER LINKS -->	


                </div>	<!-- END FOOTER CONTENT -->


                <hr>	<!-- FOOTER DIVIDER LINE -->


                <!-- BOTTOM FOOTER -->
                <div class="bottom-footer">
                    <div class="row row-cols-1 row-cols-md-2 d-flex align-items-center">


                        <!-- FOOTER COPYRIGHT -->
                        <div class="col">
                            <div class="footer-copyright"><p class="p-sm">&copy; 2024 Harshon Technologies. <span>All Rights Reserved</span></p></div>
                        </div>


                        <!-- FOOTER SECONDARY LINK -->
                        <div class="col">
                            <div class="bottom-secondary-link ico-15 text-end">
                                <p class="p-sm"><a href="#">Made with 
                                    <span class="flaticon-heart color--pink-400"></span> by Harshon Technologies</a>
                                </p>
                            </div>
                        </div>


                    </div>  <!-- End row -->
                </div>	<!-- END BOTTOM FOOTER -->


            </div>     <!-- End container -->	
        </footer>   <!-- END FOOTER-3 -->




    </div>	<!-- END PAGE CONTENT -->	




    <!-- EXTERNAL SCRIPTS
    ============================================= -->	
    <script src="../../js/jquery-3.7.0.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>	
    <script src="../../js/modernizr.custom.js"></script>
    <script src="../../js/jquery.easing.js"></script>
    <script src="../../js/jquery.appear.js"></script>
    <script src="../../js/menu.js"></script>
    <script src="../../js/owl.carousel.min.js"></script>
    <script src="../../js/pricing-toggle.js"></script>
    <script src="../../js/jquery.magnific-popup.min.js"></script>
    <script src="../../js/request-form.js"></script>	
    <script src="../../js/jquery.validate.min.js"></script>
    <script src="../../js/jquery.ajaxchimp.min.js"></script>	
    <script src="../../js/popper.min.js"></script>
    <script src="../../js/lunar.js"></script>
    <script src="../../js/wow.js"></script>
            
    <!-- Custom Script -->		
    <script src="../../js/custom.js"></script>


    <!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->															
    <!--
    <script>
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-XXXXX-X']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    -->	


</div>





