<div> 




    


    <!-- PAGE CONTENT
    ============================================= -->	
    <div id="page" class="page font--jakarta">




        





        

        <!-- CAREERS-1
        ============================================= -->
        <section id="careers-1" class="pt-100 pb-60 careers-section locations-top-spacing">
            <div class="container">


                <!-- SECTION TITLE -->	
                <div class="row justify-content-center">	
                    <div class="col-md-10 col-lg-9">
                        <div class="section-title mb-70">	

                            <!-- Title -->	
                            <h2 class="s-52 w-700" style="margin-top: 100px;">Our Locations</h2>	

                            <!-- Text -->	
                            <p class="p-lg">Nam sed nunc laoreet, commodo justo eget, condimentum risus. Donec et ante justo. Nam pharetra ultricies iaculis.
                            </p>
                                
                        </div>	
                    </div>
                </div>


                <!-- OPEN ROLES -->	
                <div class="row row-cols-1 row-cols-md-2">


                    <!-- OPEN ROLE #1 -->
                     <div class="col">
                    
                         <div class="role-box bg--white-300 r-10">
                                <!-- Team Member Photo -->
                                <div class="team-member-photo r-14 custom-align">
                                    <div class="hover-overlay"> 
                                        <img class="img-fluid" src="../../assets/images/png_icons/location.png" alt="team-member-foto">
                                        <div class="item-overlay"></div>
                                    </div>
                                </div>
                             <a href="career-role.html">
                                 <span>Bangalore</span>
                                 <h6 class="s-20 w-700"> Office</h6>
                            
                             </a>
                         </div>
                     </div>	<!-- END OPEN ROLE #1 -->
                </div>	<!-- END OPEN ROLES -->	


            </div> <!-- End container -->
        </section>	<!-- END CAREERS-1 -->



        <!-- BANNER-1
        ============================================= -->
        <section id="banner-1" class="pt-100 banner-section">
            <div class="container">


                <!-- BANNER-1 WRAPPER -->
                <div class="banner-1-wrapper r-16">
                    <div class="banner-overlay bg--05 bg--scroll">
                        <div class="row">


                            <!-- BANNER-1 TEXT -->
                            <div class="col">
                                <div class="banner-1-txt color--white">

                                    <!-- Title -->	
                                    <h2 class="s-45 w-700">Ready to get started?</h2>

                                    <!-- Text -->
                                    <p class="p-xl">It only takes a few clicks to get started</p>

                                    <!-- Button -->
                                    <a href="#" class="btn r-04 btn--theme hover--tra-white" data-bs-toggle="modal" data-bs-target="#modal-3">Contact Now
                                    </a>

                                    <!-- Button Text -->
                                    <p class="p-sm btn-txt ico-15 o-85">
                                        <span class="flaticon-check"></span> Contact now to know more about us.
                                    </p>

                                </div>
                            </div>	<!-- END BANNER-1 TEXT -->


                        </div>   <!-- End row -->	
                    </div>   <!-- End banner overlay -->	
                </div>    <!-- END BANNER-1 WRAPPER -->


            </div>     <!-- End container -->	
        </section>	<!-- END BANNER-1 -->




        <!-- MODAL WINDOW (REQUEST FORM)
        ============================================= -->
        <div id="modal-3" class="modal auto-off fade" tabindex="-1" role="dialog" aria-labelledby="modal-3">
             <div class="modal-dialog modal-xl modal-dialog-centered">
                <div class="modal-content">


                    <!-- CLOSE BUTTON -->
                    <button type="button" class="btn-close ico-10 white-color" data-bs-dismiss="modal" aria-label="Close">
                        <span class="flaticon-cancel"></span>
                    </button>


                    <!-- MODAL CONTENT -->
                    <div class="modal-body">
                        <div class="container">
                               <div class="row">


                                   <!-- BACKGROUND IMAGE -->
                                   <div class="col-md-5 bg-img d-none d-sm-flex align-items-end"></div>


                                   <!-- REQUEST FORM -->
                                   <div class="col-md-7">
                                       <div class="modal-body-content">

                                           <!-- TEXT -->
                                           <div class="request-form-title">

                                               <!-- Title 	-->	
                                            <h3 class="s-28 w-700">Get started for Free!</h3>	

                                            <!-- Text -->
                                            <p class="color--grey">Aliquam augue suscipit, luctus neque purus ipsum 
                                               neque dolor primis libero
                                            </p>

                                        </div>
                                           
                                        <!-- FORM -->	
                                           <form name="requestForm" class="row request-form">
                                                                    
                                            <!-- Form Input -->
                                            <div class="col-md-12">
                                                <input type="text" name="name" class="form-control name" placeholder="Enter Your Name*" autocomplete="off" required> 
                                            </div>
                                                 
                                            <!-- Form Input -->       
                                            <div class="col-md-12">
                                                <input type="email" name="email" class="form-control email" placeholder="Enter Your Email*" autocomplete="off" required> 
                                            </div>

                                            <!-- Form Button -->
                                            <div class="col-md-12 form-btn">  
                                                <button type="submit" class="btn btn--theme hover--theme submit">Get Started Now</button>
                                            </div>
                                                                                          
                                            <!-- Form Message -->
                                            <div class="col-md-12 request-form-msg">
                                                <span class="loading"></span>
                                            </div>   
                                                                          
                                        </form>	<!-- END FORM -->		

                                    </div>
                                   </div>	<!-- END REQUEST FORM -->
                        

                               </div>
                          </div>
                    </div>	<!-- END MODAL CONTENT -->


                 </div>
            </div>
        </div>	<!-- MODAL WINDOW (REQUEST FORM) -->




        <!-- FOOTER-3
        ============================================= -->
        <footer id="footer-3" class="pt-100 footer">
            <div class="container">
    
    
                <!-- FOOTER CONTENT -->
                <div class="row">
    
    
                    <!-- FOOTER LOGO -->
                    <div class="col-xl-3">
                        <div class="footer-info">
                            <img class="footer-logo" src="../../assets/images/logo-blue.png" alt="footer-logo">
                        </div>	
                    </div>	
    
    
                    <!-- FOOTER LINKS -->
                    <div class="col-sm-4 col-md-3 col-xl-2">
                        <div class="footer-links fl-1">
                        
                            <!-- Title -->
                            <h6 class="s-17 w-700" style="font-size: 20px;">Company</h6>
    
                            <!-- Links -->
                            <ul class="foo-links clearfix">
                                <!-- <li><p><a  [routerLink]="['about']">About Us</a></p></li>
                                <li><p><a href="careers.html">Offices</a></p></li>	
                                <li><p><a href="blog-listing.html">Leadership</a></p></li>							
                                <li><p><a href="contacts.html">Careers</a></p></li>			 -->
                            
                            <li aria-haspopup="true"><p><a  [routerLink]="['/about']" routerLinkActive="active">About Us</a></p></li>	
                            <!-- <li aria-haspopup="true"><a [routerLink]="'customer'">Customers</a></li> -->
                            <li aria-haspopup="true"><p><a [routerLink]="['/office']" routerLinkActive="active">Offices</a></p></li>
                            <li aria-haspopup="true"><p><a [routerLink]="['/leadership']" routerLinkActive="active">Leadership</a></p></li>
                            <li aria-haspopup="true"><p><a [routerLink]="['/carrer']" routerLinkActive="active">Careers</a></p></li>
                        </ul>
                        </div>
                    </div>	<!-- END FOOTER LINKS -->	
    
    
                    
    
    
                    <!-- FOOTER LINKS -->
                    <div class="col-sm-4 col-md-3 col-xl-2">
                        <div class="footer-links fl-3">
                                            
                            <!-- Title -->
                            <h6 class="s-17 w-700" style="font-size: 20px;">Legal</h6>
    
                            <!-- Links -->
                            <ul class="foo-links clearfix">
                                <li><p><a href="terms.html">Terms of Use</a></p></li>										
                                <li><p><a href="privacy.html">Privacy Policy</a></p></li>
                                <li><p><a href="cookies.html">Cookie Policy</a></p></li>
                                <li><p><a href="#">Site Map</a></p></li>
                            </ul>
                                   
                        </div>	
                    </div>	<!-- END FOOTER LINKS -->	
    
    
                    <!-- FOOTER LINKS -->
                    <div class="col-sm-6 col-md-3">
                        <div class="footer-links fl-4">
                                            
                            <!-- Title -->
                            <h6 class="s-17 w-700" style="font-size: 20px;">Connect With Us</h6>
    
                            <!-- Mail Link -->
                            <p class="footer-mail-link ico-25">
                                <a href="mailto:Hr&#64;harshontechnologies.com">Hr&#64;harshontechnologies.com</a>

                            </p>
    
                            <!-- Social Links -->	
                            <ul class="footer-socials ico-25 text-center clearfix">		
                                <li><a href="https://www.youtube.com/@Harshontechnologies" style="color: red;"><span class="flaticon-youtube"></span></a></li>
    
                                <li ><a href="#" style="color:black;font-size: 22px;"><span class="fa-brands fa-x-twitter "></span></a></li>
                                <li><a href="#" style="color:#181717;" ><span class="flaticon-github"></span></a></li>
                                <!-- <head>
                                 
                                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
                                  </head> -->
                                  <li style="font-size: 25px;"><a href="#" style="color: #0077B5;"><span class="fab fa-linkedin"></span></a></li>
    
                            </ul>
    
                        </div>	
                    </div>	<!-- END FOOTER LINKS -->	
    
    
                </div>	<!-- END FOOTER CONTENT -->
    
    
                <hr>	<!-- FOOTER DIVIDER LINE -->
    
    
                <!-- BOTTOM FOOTER -->
                <div class="bottom-footer">
                    <div class="row row-cols-1 row-cols-md-2 d-flex align-items-center">
    
    
                        <!-- FOOTER COPYRIGHT -->
                        <div class="col">
                            <div class="footer-copyright"><p class="p-sm">&copy; 2024 Harshon Technologies. <span>All Rights Reserved</span></p></div>
                        </div>
    
    
                        <!-- FOOTER SECONDARY LINK -->
                        <div class="col">
                            <div class="bottom-secondary-link ico-15 text-end">
                                <p class="p-sm"><a href="#">Made with 
                                    <span class="flaticon-heart color--pink-400"></span> by Harshon Technologies</a>
                                </p>
                            </div>
                        </div>
    
    
                    </div>  
                </div>	
    
    
            </div>  
        </footer>  
    </div>	
</div>	