<div id="page" class="page font--jakarta">
    <!-- <head>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    </head> -->
    
    <!-- ABOUT-2 Section -->
    <section id="about-2" class="rel inner-page-hero about-section division">
        <!-- ABOUT-2 TITLE -->
        <div class="container">
            <!-- Main title -->
            <div class="section-header-box">
                <h1 style="text-align: center; color: white ; font-size: 50px;"><strong>Jewellery Software</strong></h1>
                <!-- <h1 class="section-title" style="text-align: center; color: white; font-size: 35px;"><strong>Jewellery Software Solutions by Harshon Technologies</strong></h1> -->
            
                <!-- Add a wrapper for the text introduction -->
                <ul class="features-list">
                    <li>
                        <div style="font-size: 25px; line-height: 1.6;">
                            Harshon Technologies is a leading name in jewellery software development, delivering innovative and reliable solutions. Our software is designed to streamline your business operations, offering features for sales, purchases, payments, and more. 
                        </div>
                    </li>
                </ul>
            </div>

            <!-- Key Features Section -->
            <div class="feature-section">
                <!-- Left side (Image) -->
                <div class="feature-image">
                    <img style="width: 800px;" class="feature-image-img" src="../../assets/images/jewelleryimage-1.jpg" alt="Jewellery Software Image">
                </div>

                <!-- Right side (Content) -->
                <div class="feature-content">
                    <ul class="features-list">
                        <li class="feature-item">
                            <strong>Accounting Reports:</strong> Day book, accounts, profit/loss, interest calculation, cash/bank book.
                        </li>
                        <li class="feature-item">
                            <strong>Purchase Reports:</strong> Raw materials, finished products, order generation, gold purchases.
                        </li>
                        <li class="feature-item">
                            <strong>Sales Reports:</strong> Customer orders, delivery, sales returns, VAT calculation, order cancellations.
                        </li>
                        <li class="feature-item">
                            <strong>Money Lending:</strong> Cash received, interest calculations, loss reports.
                        </li>
                        <li class="feature-item">
                            <strong>Aging Analysis:</strong> Debtors/creditors balance, bill-by-bill analysis.
                        </li>
                        <li class="feature-item">
                            <strong>Inventory Control:</strong> Stock of raw materials, old gold, soldering, and unfinished products.
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Services Section -->
            <div class="service-section">
                <div class="service-content">
                    <ul class="features-list">
                        <li class="service-item">
                            <strong>Backup & Restore:</strong> Secure database backup and restore functionality.
                        </li>
                        <li class="service-item">
                            <strong>Multi-user Accessibility:</strong> Access and collaborate seamlessly with multiple users.
                        </li>
                        <li class="service-item">
                            <strong>Cost-effective Solution:</strong> Affordable software solution designed for scalability.
                        </li>
                        <li class="service-item">
                            <strong>Customization:</strong> Tailor the software to meet the unique needs of your jewellery business.
                        </li>
                        <li class="service-item">
                            <strong>Tracking from Creation to Sale:</strong> Full tracking of your jewellery from creation to final sale.
                        </li>
                    </ul>
                </div>

                <!-- Right side (Image) -->
                <div class="service-image" style="position: relative; display: inline-block;">
                    <!-- <img style="width: 750px;" src="../../assets/images/jewelleryimage-2.jpg" alt="Jewellery Software Image"> -->
                    <a href="https://youtu.be/8EzUZ_uBWHg" target="_blank">
                        <img style="width: 850px; height: 400px;" src="../../assets/images/jewwelery-5.jpg" alt="DMS Service Image">
                        <!-- Play Button Overlay -->
                        <div style="
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            background: rgba(0, 0, 0, 0.6);
                            width: 80px;
                            height: 80px;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        ">
                            <svg width="50" height="50" viewBox="0 0 24 24" fill="white">
                                <path d="M8 5v14l11-7z"/>
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <footer id="footer-3" class="pt-100 footer">
        <div class="container">


            <!-- FOOTER CONTENT -->
            <div class="row">


                <!-- FOOTER LOGO -->
                <div class="col-xl-3">
                    <div class="footer-info">
                        <img class="footer-logo" src="../../assets/images/logo-blue.png" alt="footer-logo">
                    </div>	
                </div>	


                <!-- FOOTER LINKS -->
                <div class="col-sm-4 col-md-3 col-xl-2">
                    <div class="footer-links fl-1">
                    
                        <!-- Title -->
                        <h6 class="s-17 w-700" style="font-size: 20px;">Company</h6>

                        <!-- Links -->
                        <ul class="foo-links clearfix">
                            <!-- <li><p><a  [routerLink]="['about']">About Us</a></p></li>
                            <li><p><a href="careers.html">Offices</a></p></li>	
                            <li><p><a href="blog-listing.html">Leadership</a></p></li>							
                            <li><p><a href="contacts.html">Careers</a></p></li>			 -->
                        
                        <li aria-haspopup="true"><p><a  [routerLink]="['/about']" routerLinkActive="active">About Us</a></p></li>	
                        <!-- <li aria-haspopup="true"><a [routerLink]="'customer'">Customers</a></li> -->
                        <li aria-haspopup="true"><p><a [routerLink]="['/office']" routerLinkActive="active">Offices</a></p></li>
                        <li aria-haspopup="true"><p><a [routerLink]="['/leadership']" routerLinkActive="active">Leadership</a></p></li>
                        <li aria-haspopup="true"><p><a [routerLink]="['/carrer']" routerLinkActive="active">Careers</a></p></li>
                    </ul>
                    </div>
                </div>	<!-- END FOOTER LINKS -->	


                


                <!-- FOOTER LINKS -->
                <div class="col-sm-4 col-md-3 col-xl-2">
                    <div class="footer-links fl-3">
                                        
                        <!-- Title -->
                        <h6 class="s-17 w-700" style="font-size: 20px;">Legal</h6>

                        <!-- Links -->
                        <ul class="foo-links clearfix">
                            <li><p><a href="terms.html">Terms of Use</a></p></li>										
                            <li><p><a href="privacy.html">Privacy Policy</a></p></li>
                            <li><p><a href="cookies.html">Cookie Policy</a></p></li>
                            <li><p><a href="#">Site Map</a></p></li>
                        </ul>
                               
                    </div>	
                </div>	<!-- END FOOTER LINKS -->	


                <!-- FOOTER LINKS -->
                <div class="col-sm-6 col-md-3">
                    <div class="footer-links fl-4">
                                        
                        <!-- Title -->
                        <h6 class="s-17 w-700" style="font-size: 20px;">Connect With Us</h6>

                        <!-- Mail Link -->
                        <p class="footer-mail-link ico-25">
                            <a href="mailto:Hr&#64;harshontechnologies.com">Hr&#64;harshontechnologies.com</a>

                        </p>

                        <!-- Social Links -->	
                         <ul class="footer-socials ico-25 text-center clearfix">		
                            <li><a href="https://www.youtube.com/@Harshontechnologies" style="color: red;"><span class="flaticon-youtube"></span></a></li>

                            <li ><a href="#" style="color:black;font-size: 22px;"><span class="fa-brands fa-x-twitter "></span></a></li>
                            <li><a href="#" style="color:#181717;" ><span class="flaticon-github"></span></a></li>
                            <!-- <head>
                             
                                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
                              </head> -->
                              <li style="font-size: 25px;"><a href="#" style="color: #0077B5;"><span class="fab fa-linkedin"></span></a></li>

                        </ul>

                    </div>	
                </div>	<!-- END FOOTER LINKS -->	


            </div>	<!-- END FOOTER CONTENT -->


            <hr>	<!-- FOOTER DIVIDER LINE -->


            <!-- BOTTOM FOOTER -->
            <div class="bottom-footer">
                <div class="row row-cols-1 row-cols-md-2 d-flex align-items-center">


                    <!-- FOOTER COPYRIGHT -->
                    <div class="col">
                        <div class="footer-copyright"><p class="p-sm">&copy; 2024 Harshon Technologies. <span>All Rights Reserved</span></p></div>
                    </div>


                    <!-- FOOTER SECONDARY LINK -->
                    <div class="col">
                        <div class="bottom-secondary-link ico-15 text-end">
                            <p class="p-sm"><a href="#">Made with 
                                <span class="flaticon-heart color--pink-400"></span> by Harshon Technologies</a>
                            </p>
                        </div>
                    </div>


                </div>  <!-- End row -->
            </div>	<!-- END BOTTOM FOOTER -->


        </div>     <!-- End container -->	
    </footer>   <!-- END FOOTER-3 -->
</div>

