<div>
	<!-- PAGE CONTENT
	============================================= -->	
	<div id="page" class="page font--jakarta">
		

    
	  <!-- HERO-27
	  ============================================= -->	
	  <section id="hero-27" class="gr--whitesmoke hero-section">
		<div class="hero-overlay bg--fixed">
		  <div class="container text-center">	
  
  
			<!-- HERO TEXT -->	
			<div class="row justify-content-center">
			  <div class="col-md-10 col-lg-9">
				<div class="hero-27-txt wow fadeInUp">
			  
				  <!-- Title -->
				  <h2 class="s-60 w-700" style="font-size: 35px; ;"><strong>The Full Power of Your Business with Harshon Technologies</strong> 
				</h2>
  
				  <!-- Text -->
				  <p class="s-20" style="font-size: 20px;">At Harshon Technologies, we empower businesses to reach their full potential through innovative software solutions. 

				  </p>
  
				  <!-- Buttons -->	
				  <div class="btns-group">
					<a class="btn r-04 btn--theme hover--theme" [routerLink]="['/about']">About Us</a>
					<a href="https://www.youtube.com/@Harshontechnologies" class="btn r-04 btn--tra-black hover--theme ico-20 ico-right">
					  Watch Demo <span class="flaticon-play"></span>
					</a>
				  </div>
  
				  <!-- Advantages List -->
				  <!-- <ul class="advantages ico-15 mt-25 clearfix">
					<li><p>Subtitle One</p></li>
					<li class="advantages-links-divider"><p><span class="flaticon-minus"></span></p></li>
					<li><p>Subtitle Two</p></li>
					<li class="advantages-links-divider"><p><span class="flaticon-minus"></span></p></li>
					<li><p>Subtitle Three</p></li>
				  </ul> -->
  
				</div>	
			  </div>
			</div>	<!-- END HERO TEXT -->	
  
  
		  </div>	   <!-- End container --> 	
		</div>	   <!-- End hero-overlay --> 	
	  </section>	<!-- END HERO-27 -->
  
  
  
  
	  <!-- BOX CONTENT
	  ============================================= -->
	  <section id="lnk-1" class="pt-80 ws-wrapper content-section">
		<div class="container" >
		  <div class="bc-1-wrapper bg--02 bg--fixed r-16"  >
			<div class="section-overlay" style="background-color: lightblue;">
			  <div class="row d-flex align-items-center">
  
  
				<!-- TEXT BLOCK -->	
				<div class="col-md-6 order-last order-md-2">
				  <div class="txt-block left-column wow fadeInRight">
  
					<!-- Title -->	
					<!-- <h2 class="s-46 w-700">Our Cutting Edge Solutions</h2> -->
  
					<ul class="features-list">
						<li class="service-item" >
							<strong></strong> At Harshon Technologies, we specialize in delivering innovative and tailored software solutions that drive growth, enhance business efficiency, and accelerate digital transformation. With expertise spanning across web and mobile application development, DevOps, cloud solutions, and more, we are committed to providing high-quality, scalable, and cost-effective solutions to businesses of all sizes.
	
	
						</li>
					</ul>
  
					<!-- Link -->	
					<!-- <div class="txt-block-tra-link mt-25">
					  <a href="distribution-management.html" class="tra-link ico-20 color--theme">
						The smarter way to work <span class="flaticon-next"></span>
					  </a>
					</div> -->
  
				  </div>
				</div>	<!-- END TEXT BLOCK -->	
  
  
				<!-- IMAGE BLOCK -->
				<div class="col-md-6 order-first order-md-2" >
				  <div class="img-block right-column wow fadeInLeft">
					<img class="img-fluid" style="height: 500px; width: 400px;"src="../../assets/images/homepage-1.jpg" alt="content-image">
				  </div>
				</div>
  
  
			
			  </div>   <!-- End row -->	
			</div>    <!-- End section overlay -->	
		  </div>    <!-- End content wrapper -->
		</div>     <!-- End container -->	
	  </section>	<!-- END BOX CONTENT -->
  
  
  
  
	  <!-- TEXT CONTENT
	  ============================================= -->
	  <section class="pt-100 ct-02 content-section division">
		<div class="container" style="margin-top: -6%;">
  
  
		  <!-- SECTION CONTENT (ROW) -->	
		  <div class="row d-flex align-items-center">
  
  
			<!-- IMAGE BLOCK -->
			<div class="col-md-6">
			  <div class="img-block left-column wow fadeInRight">
				<img class="img-fluid" src="../../assets/images/homepage-2.jpg" alt="content-image">
			  </div>
			</div>
  
  
			<!-- TEXT BLOCK -->	
			<div class="col-md-6">
			  <div class="txt-block right-column wow fadeInLeft" style="margin-bottom: 80px;">
  
				<!-- Title -->	
				<h2 class="s-46 w-700" style="font-size: 30px;">Why Choose Harshon Technologies</h2>
  
				<!-- Text -->	
				<ul class="features-list">
					<li class="service-item" >
						<strong>Tailored Solutions:</strong> We understand that every business is unique. Our custom solutions are designed to meet your specific needs and challenges, ensuring seamless integration with your existing processes.


					</li>
					<li class="service-item">
						<strong>Expertise You Can Trust: </strong> With handful of experience and a skilled team of developers, engineers, and consultants, we offer industry-leading expertise to help you stay ahead of the competition.

					</li>
					<li class="service-item">
						<strong>Innovation at Core:</strong>We leverage the latest technologies and best practices to deliver cutting-edge solutions that drive efficiency, improve customer experiences, and increase profitability.

					</li>
					<li class="service-item">
						<strong>End-to-End Services:</strong> From strategy and design to development, deployment, and ongoing support, we provide comprehensive services that cover the entire software development lifecycle.
					</li>
					
				</ul>
  
		
  
				
				
  
			  </div>
			</div>	<!-- END TEXT BLOCK -->	
  
  
		  </div>	<!-- END SECTION CONTENT (ROW) -->	
  
  
		</div>	   <!-- End container -->
	  </section>	<!-- END TEXT CONTENT -->
  
  
  
  
	  <!-- TEXT CONTENT
	  ============================================= -->
	  <section class="pt-100 ct-01 content-section division">
		<div class="container" style="margin-top: -6%;">
  
  
		  <!-- SECTION CONTENT (ROW) -->	
		  <div class="row d-flex align-items-center">
  
  
			<!-- TEXT BLOCK -->	
			<div class="col-md-6 order-last order-md-2" style="margin-bottom: -4%;">
			  <div class="txt-block left-column wow fadeInRight">
  
				<h2 class="s-46 w-700" style="font-size: 30px;">Our Key Services
				</h2>
				<!-- TEXT BOX -->	
				<ul class="features-list">
					<li class="service-item">
					  <strong>Custom Software Development:</strong> We specialize in creating bespoke software solutions that cater to your business’s specific requirements, whether it's a complex enterprise application or a user-friendly mobile app.
					</li>
					<li class="service-item">
					  <strong>Web & Mobile Application Development:</strong> Our team builds responsive, scalable, and feature-rich web and mobile applications that engage users and drive growth.
					</li>
					<li class="service-item">
					  <strong>DevOps Solutions:</strong> We streamline the software development and deployment process, ensuring faster delivery, higher reliability, and continuous improvement.
					</li>
					<li class="service-item">
					  <strong>Cloud Solutions:</strong> With cloud-based architectures, we help you scale your infrastructure, reduce costs, and improve performance while ensuring data security and flexibility.
					</li>
					<li class="service-item">
					  <strong>CRM & ERP Systems:</strong> We design and implement customer relationship management (CRM) and enterprise resource planning (ERP) systems that enhance business operations and increase productivity.
					</li>
					<li class="service-item">
					  <strong>Consulting & Strategy:</strong> Our team offers expert consulting to help you define your software strategy, make informed decisions, and implement the right technology to meet your business goals.
					</li>
				  </ul>
				  
				
			  </div>
			</div>	<!-- END TEXT BLOCK -->	
  
  
			<!-- IMAGE BLOCK -->
			<div class="col-md-6 order-first order-md-2">
			  <div class="img-block right-column wow fadeInLeft">
				<img class="img-fluid" src="../../assets/images/homepage-3.jpg" alt="content-image">
			  </div>
			</div>
  
  
		  </div>	<!-- END SECTION CONTENT (ROW) -->	
  
  
		</div>	   <!-- End container -->
	  </section>	<!-- END TEXT CONTENT -->
  
  
  
  
	  <!-- FEATURES-7
	 
  
  
  
  
	  
	  ============================================= -->
	  <section class="py-100 ct-02 content-section division">
		<div class="container" style="margin-top: -4%;">
  
  
		  <!-- SECTION CONTENT (ROW) -->	
		  <div class="row d-flex align-items-center">
  
  
			<!-- IMAGE BLOCK -->
			<div class="col-md-6">
			  <div class="img-block left-column wow fadeInRight">
				<img class="img-fluid" src="../../assets/images/homepage-4.jpg" alt="content-image">
			  </div>
			</div>
  
  
			<!-- TEXT BLOCK -->	
			<div class="col-md-6">
			  <div class="txt-block right-column wow fadeInLeft" style="margin-top: -25%;">
  
				<!-- Title -->	
				<h2 class="s-46 w-700" style="font-size: 30px;">Our Approach
				</h2>
                <ul class="features-list">
					<li class="service-item">
					  <strong></strong> We believe in a collaborative, transparent, and customer-centric approach to every project. By understanding your business challenges and goals, we create solutions that not only solve problems but also deliver measurable results. We work alongside you throughout the development process, ensuring the final product meets your expectations and drives business success.
					</li>
				</ul>
  
			  </div>
			</div>	<!-- END TEXT BLOCK -->	
  
  
		  </div>	<!-- END SECTION CONTENT (ROW) -->	
  
  
		</div>	   <!-- End container -->
	  </section>	<!-- END TEXT CONTENT -->
  
	  <!-- FOOTER-3
	  ============================================= -->
	  <footer id="footer-3" class="pt-100 footer">
		<div class="container" style="margin-top: -10%;">


			<!-- FOOTER CONTENT -->
			<div class="row">


				<!-- FOOTER LOGO -->
				<div class="col-xl-3">
					<div class="footer-info">
						<img class="footer-logo" src="../../assets/images/logo-blue.png" alt="footer-logo">
					</div>	
				</div>	


				<!-- FOOTER LINKS -->
				<div class="col-sm-4 col-md-3 col-xl-2">
					<div class="footer-links fl-1">
					
						<!-- Title -->
						<h6 class="s-17 w-700" style="font-size: 20px;">Company</h6>

						<!-- Links -->
						<ul class="foo-links clearfix">
							<!-- <li><p><a  [routerLink]="['about']">About Us</a></p></li>
							<li><p><a href="careers.html">Offices</a></p></li>	
							<li><p><a href="blog-listing.html">Leadership</a></p></li>							
							<li><p><a href="contacts.html">Careers</a></p></li>			 -->
						
						<li aria-haspopup="true"><p><a  [routerLink]="['/about']" routerLinkActive="active">About Us</a></p></li>	
						<!-- <li aria-haspopup="true"><a [routerLink]="'customer'">Customers</a></li> -->
						<li aria-haspopup="true"><p><a [routerLink]="['/office']" routerLinkActive="active">Offices</a></p></li>
						<li aria-haspopup="true"><p><a [routerLink]="['/leadership']" routerLinkActive="active">Leadership</a></p></li>
						<li aria-haspopup="true"><p><a [routerLink]="['/carrer']" routerLinkActive="active">Careers</a></p></li>
					</ul>
					</div>
				</div>	<!-- END FOOTER LINKS -->	


				


				<!-- FOOTER LINKS -->
				<div class="col-sm-4 col-md-3 col-xl-2">
					<div class="footer-links fl-3">
										
						<!-- Title -->
						<h6 class="s-17 w-700" style="font-size: 20px;">Legal</h6>

						<!-- Links -->
						<ul class="foo-links clearfix">
							<li><p><a href="terms.html">Terms of Use</a></p></li>										
							<li><p><a href="privacy.html">Privacy Policy</a></p></li>
							<li><p><a href="cookies.html">Cookie Policy</a></p></li>
							<li><p><a href="#">Site Map</a></p></li>
						</ul>
							   
					</div>	
				</div>	<!-- END FOOTER LINKS -->	


				<!-- FOOTER LINKS -->
				<div class="col-sm-6 col-md-3">
					<div class="footer-links fl-4">
										
						<!-- Title -->
						<h6 class="s-17 w-700" style="font-size: 20px;">Connect With Us</h6>

						<!-- Mail Link -->
						<p class="footer-mail-link ico-25">
							<a href="mailto:Hr&#64;harshontechnologies.com">Hr&#64;harshontechnologies.com</a>

						</p>

						<!-- Social Links -->	
						<ul class="footer-socials ico-25 text-center clearfix">		
							<li><a href="https://www.youtube.com/@Harshontechnologies" style="color: red;"><span class="flaticon-youtube"></span></a></li>

							<li ><a href="#" style="color:black;font-size: 22px;"><span class="fa-brands fa-x-twitter "></span></a></li>
							<li><a href="#" style="color:#181717;" ><span class="flaticon-github"></span></a></li>
							<!-- <head>
							 
								<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
							  </head> -->
							  <li style="font-size: 25px;"><a href="#" style="color: #0077B5;"><span class="fab fa-linkedin"></span></a></li>

						</ul>

					</div>	
				</div>	<!-- END FOOTER LINKS -->	


			</div>	<!-- END FOOTER CONTENT -->


			<hr>	<!-- FOOTER DIVIDER LINE -->


			<!-- BOTTOM FOOTER -->
			<div class="bottom-footer">
				<div class="row row-cols-1 row-cols-md-2 d-flex align-items-center">


					<!-- FOOTER COPYRIGHT -->
					<div class="col">
						<div class="footer-copyright"><p class="p-sm">&copy; 2024 Harshon Technologies. <span>All Rights Reserved</span></p></div>
					</div>


					<!-- FOOTER SECONDARY LINK -->
					<div class="col">
						<div class="bottom-secondary-link ico-15 text-end">
							<p class="p-sm"><a href="#">Made with 
								<span class="flaticon-heart color--pink-400"></span> by Harshon Technologies</a>
							</p>
						</div>
					</div>


				</div>  <!-- End row -->
			</div>	<!-- END BOTTOM FOOTER -->


		</div>     <!-- End container -->	
	</footer>   <!-- END FOOTER-3 -->
  
  
	</div>	<!-- END PAGE CONTENT -->	
  
  
  
  
	<!-- EXTERNAL SCRIPTS
	============================================= -->	
	
  </div>